<!-- <form action="/your-name/" method="post">
    {% csrf_token %}
    {{ form }}

    <label for="team_name">Enter name: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">
 Got a template idea from the net

    <input type="submit" value="Submit" />
</form>

 -->



<!-- another format test form -->

<form action="/your-name/" method="post">
    <label for="your_name">Thing 1: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
   <label for="your_name">Thing 2: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>
