<!-- the submitform will be used as the index and will have the
submit form as well as the database table display
-->


<!-- Submit form section -->
 <form action="/submitformroute" method="post">
    <label for="name">Name: </label>
    <input id="id_name" type="text" name="name" value="{{ name }}">

    <label for="age">Age:</label>
    <input id="id_age" type="text" name="age" value="{{ age }}">

    <label for="location">Location:</label>
    <input id="id_location" type="text" name="location" value="{{ location }}">
<!--     <label for="pub_date">Date:</label>
    <input id="id_pub_date" type="text" name="pub_date"  value="{{ pub_date }}">
 -->
    <input type="submit" value="OK">

{% csrf_token %}
</form>





<!-- this is the code for error handling -->

  {% if form.errors %}
    <div class="alert alert-error">
      <h4>Please fix the following errors</h4>
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}
